# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/pdf-processor-frontend/node_modules
/pdf-processor-frontend/.pnp
/pdf-processor-frontend/.pnp.*
/pdf-processor-frontend/.yarn/*
/pdf-processor-frontend/.yarn/patches
/pdf-processor-frontend/.yarn/plugins
/pdf-processor-frontend/.yarn/releases
/pdf-processor-frontend/.yarn/versions

# testing
/pdf-processor-frontend/coverage

# next.js
/pdf-processor-frontend/.next/
/pdf-processor-frontend/out/

/pdf-processor-frontend/build

# misc
/pdf-processor-frontend/.DS_Store
/pdf-processor-frontend/*.pem

# debug
/pdf-processor-frontend/npm-debug.log*
/pdf-processor-frontend/yarn-debug.log*
/pdf-processor-frontend/yarn-error.log*
/pdf-processor-frontend/pnpm-debug.log*

# env files (can opt-in for committing if needed)
/pdf-processor-frontend/.env*

# vercel
/pdf-processor-frontend/.vercel
/pdf-processor-frontend/vercel.json

# typescript
/pdf-processor-frontend/*.tsbuildinfo
/pdf-processor-frontend/next-env.d.ts
